* {
    font-style: roboto;
}
.section-1,
.footer {
    background-color: #1f2937;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
}
.header-links,
.secondary {
    color: #e5e7eb;
    font-size: 18px;
}
ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}